<Layouts.app flash={@flash}>
  <section class="flex items-center justify-center bg-base-300 py-20 min-h-full">
    <div class="text-center space-y-6">
      <h1 class="text-6xl font-bold text-base-content">
        Hello
      </h1>

      <p class="text-xl text-base-content/60">
        Welcome to my portfolio
      </p>

      <p class="text-xl text-base-content/60">
        I am a student at St. Petersburg State University and a beginner software developer who is interested in low-level and web development.
      </p>

      <div class="flex justify-center items-center space-x-4 py-4 bg-base-200">
        <img height="32" width="32" src="https://cdn.simpleicons.org/elixir" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/phoenixframework" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/typescript" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/javascript" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/react" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/rust" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/c" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/cplusplus" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/docker" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/linux/gray" />
        <img height="32" width="32" src="https://cdn.simpleicons.org/wayland" />
      </div>
    </div>
  </section>
</Layouts.app>
